<%- include ("partials/header") -%>
<body>
    <div class="container-fluid signin">
        <form action="/login" method="post">
            <label for="username" class="form-label">
                Username
            </label>
            <input id="username" type="text" name="name" class="form-control">
            <label for="password" class="form-label">
                Password
            </label>
            <input id="password" type="password" name="password" class="form-control">
            <button id="login" type="submit" class="btn btn-primary" disabled>Login</button>
        </form>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <form action="/register">
            <label for="register-button">
                Please <button id="register-button" type="submit" class="btn btn-primary">Register</button> if you are a
                new user
            </label>
        </form>
    </div>
    
    <script src="js/login.js"></script>
    
    <%- include ("partials/footer") -%>