<%- include ("partials/header") -%>

<form action="/login" method="post">
    <input type="text" name="name" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>
<p>
    <%= error %>
</p>

<%- include ("partials/footer") -%>