<%- include ("header/header") -%>

<form action="/register" method="post">
    <input type="text" name="name" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>
</form>
<p>
    <%= error %>
</p>

<%- include ("header/footer") -%>