body{
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.add{
    margin:100px 0px;
}
.form-control{
    text-size-adjust: 80%;
    width: 70%;
    display: inline-block;
}

.btn {
    min-width: 1%;
}

.btn2{
    min-width: 10%;
}

.my-small-btn {
    width:4%;
    padding:5px;
}

#container{
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 50px 0px;
}

.container-fluid {
    padding-right: 20%;
    padding-left: 20%;
}


.list-element {
    font-size: 1.5rem;
    margin: 10px 0px;
}

#register {
    margin-bottom: 20px;
}

#login {
    margin-bottom: 20px;
}

#password {
    margin-bottom: 20px;
}

@media (max-width: 1320px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1000px) {
    .container-fluid {
        padding-right: 10%;
        padding-left: 10%;
    }
}

.alert {
    display: none;
    width: 500px;
}

.requirements {
    list-style-type: none;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}
.signin{
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}