h1 {
    text-align: center;
}

.container-fluid {
    padding-right: 20%;
    padding-left: 20%;
}

.btn {
    min-width: 10%;
}

.list-element {
    font-size: 1.5rem;
}

#register {
    margin-bottom: 20px;
}

#login {
    margin-bottom: 20px;
}

#password {
    margin-bottom: 20px;
}

@media (max-width: 1320px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1000px) {
    .container-fluid {
        padding-right: 10%;
        padding-left: 10%;
    }
}

.alert {
    display: none;
    width: 500px;
}

.requirements {
    list-style-type: none;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}