body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.add {
    margin: 100px 0px;
}

.btn {
    min-width: 1%;
}

.editMenu {
    display: none;
}

.btn2 {
    min-width: 10%;
}

.my-small-btn {
    width: 40px;
    padding: 5px;
}

.col-4 {
    text-align: right;
}

#container {
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-label {
    max-width: 90%;
}

.container {
    margin: 50px 0px;
    max-width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.container-fluid {
    padding-right: 20%;
    padding-left: 20%;
    align-items: center;
}


.list-element {
    font-size: 1.5rem;
    margin: 10px 0px;
}

#register {
    margin-bottom: 20px;
}

#login {
    margin-bottom: 20px;
}

#password {
    margin-bottom: 20px;
}

@media (max-width: 1320px) {
    .container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1000px) {
    .container-fluid {
        padding-right: 2%;
        padding-left: 2%;
    }
}

.alert {
    display: none;
    width: 500px;
}

.requirements {
    list-style-type: none;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}

.signin {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
}

.strikeThrough {
    text-decoration: line-through;
}